<div class="row">
    <div class="col-md-8">
        <div class="media">
        <br />
       
            <div class="media-body">
            <h2 class="media-heading"><%= current_user.username.capitalize! %>'s To-Do List</h2><br />
            <h3 class="media-heading">Incase you forgot...this is your email: <%= current_user.email %><br /> Check it.</h3>


            <div class="media-heading">
                <h3>To-do</h3>
                    
            </div>
            <h4><%= render @user.items %></h4>
            <% if current_user %>

            <div class="media-heading">
                
                <%= render 'items/form', item: Item.new, user: @user %>
            </div>
            <% end %>

            </div>
        </div>
    </div>
</div>