<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       
       <div class="media-body">
         <h2 class="media-heading"><%= current_user.username %></h2>
       </div>
     </div>
   </div>
 </div>