<br>
<div class="jumbotron">
    <h1>Blocitoff</h1>
    <p>To do, or not to do...either way, it will be gone after 7 days.</p>
    
    <p>
     <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
</div>
